## A Space to Play Around With DataFrames

In [8]:
import pandas as pd
import dash 
import dash   
import dash_core_components as dcc   
import dash_html_components as html  
import plotly.express as px 
import pandas as pd  
from dash.dependencies import Input, Output
import plotly.graph_objects as go 
import yfinance as yf

# borrowing function from database
from database import fetch_all_stock_as_df

In [7]:
!pip install yfinance

Collecting yfinance
  Using cached yfinance-0.1.55.tar.gz (23 kB)
Requirement already satisfied: pandas>=0.24 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from yfinance) (1.0.1)
Requirement already satisfied: numpy>=1.15 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from yfinance) (1.18.1)
Requirement already satisfied: requests>=2.20 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from yfinance) (2.22.0)
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.9.tar.gz (8.1 kB)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.2-cp37-cp37m-macosx_10_9_x86_64.whl (4.5 MB)
     |████████████████████████████████| 4.5 MB 5.7 MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.2 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.24->yfinance) (2.8.1)
Requirement already satisfied: certifi>=2017.4.17 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from requests>=2.20->yfinance) (2.8)
Requirement already satisfied: six>=1.5 in /Users/kevin18le/opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.6.1->pandas>=0.24->yfinance) (1.14.0)
Building wheels for collected packages: yfinance, multitasking
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.55-py2.py3-none-any.whl size=22616 sha256=3a18d9796e63c13fc47cc04737aef4e3e87c75ac6ac7efc3ccc69f77ec5cbdc3
  Stored in directory: /Users/kevin18le/Library/Caches/pip/wheels/aa/8a/36/59ed4f6fbcb6100967618eeb0696046bf9777a41ac2ff1f9b9
  Building wheel for multitasking (setup.py) ... done
  Created wheel for multitasking: filename=multitasking-0.0.9-py3-none-any.whl size=8366 sha256=ae53eb66b591aa4493972bd6839e00d13acbb0a2dbe37bbe6b71b98e7ca44ede
  Stored in directory: /Users/kevin18le/Library/Caches/pip/wheels/ae/25/47/4d68431a7ec1b6c4b5233365934b74c1d4e665bf5f968d363a
Successfully built yfinance multitasking
Installing collected packages: multitasking, lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.5.0
    Uninstalling lxml-4.5.0:
      Successfully uninstalled lxml-4.5.0
Successfully installed lxml-4.6.2 multitasking-0.0.9 yfinance-0.1.55

In [18]:
import datetime as dt

In [11]:
df = fetch_all_stock_as_df()

In [15]:
df

                Datetime         SPY        SBUX        AAPL
0    2020-11-30 14:30:00  362.839996   97.900002  117.389999
1    2020-11-30 14:31:00  362.890015   97.750000  117.589996
2    2020-11-30 14:32:00  362.890015   97.650002  118.040001
3    2020-11-30 14:33:00  362.970001   97.639999  118.087700
4    2020-11-30 14:34:00  362.750000   97.605003  118.239998
...                  ...         ...         ...         ...
1944 2020-12-02 19:19:00  366.149994   98.690002  123.002899
1945 2020-12-02 19:20:00  366.239807   98.690002  123.105003
1946 2020-12-02 19:21:00  366.252014   98.690002  123.040001
1947 2020-12-02 19:22:00  366.304413   98.669998  123.029999
1948 2020-12-04 18:02:00  369.000000  102.735001  122.169998

[1949 rows x 4 columns]

In [34]:
x = df[df['Datetime'].dt.weekday != 7 and df['Datetime'].dt.weekday != 1]
x

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [37]:
# no time zone info
for idx, x in df['Datetime'].iteritems(): 
    if (x.hour >= 9 and x.hour <= 16 and x.minute == 0 and x.second == 0):
        print(x)

2020-11-30 15:00:00
2020-11-30 16:00:00
2020-12-01 15:00:00
2020-12-01 16:00:00
2020-12-02 15:00:00
2020-12-02 16:00:00
2020-12-03 15:00:00
2020-12-03 16:00:00
2020-12-04 15:00:00
2020-12-04 16:00:00

                Datetime         SPY        SBUX        AAPL
0    2020-11-30 14:30:00  362.839996   97.900002  117.389999
1    2020-11-30 14:31:00  362.890015   97.750000  117.589996
2    2020-11-30 14:32:00  362.890015   97.650002  118.040001
3    2020-11-30 14:33:00  362.970001   97.639999  118.087700
4    2020-11-30 14:34:00  362.750000   97.605003  118.239998
...                  ...         ...         ...         ...
1944 2020-12-02 19:19:00  366.149994   98.690002  123.002899
1945 2020-12-02 19:20:00  366.239807   98.690002  123.105003
1946 2020-12-02 19:21:00  366.252014   98.690002  123.040001
1947 2020-12-02 19:22:00  366.304413   98.669998  123.029999
1948 2020-12-04 18:02:00  369.000000  102.735001  122.169998

[1949 rows x 4 columns]